@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');



body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono';
  }
  * {
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  /* navbar component */
 
  .navbar-container{
    position: sticky; 
    top:0; 
    width: 100%;
    height: 70px;
    background-color: #2D2E32;
    color: #FFFFFF;
    box-shadow: 0 2px 2px #25262a88;
    z-index: 1;
  }
 .logo{
    margin:20px 0 0 10% ;
    width: 130px;
    height: 30px;
    display: inline-block;
  }
  .navbar-container ul{
    float: right;
    margin: 20px;
    /* margin-top: 2vh; */
    /* margin-left: auto; */
    width: 400px;
    height: 30px;
    list-style: none;
    /* display: inline-block; */
    
   
  }
  .navbar-container .hamberger img{
  display: none;
  }


  .navbar-container ul li{
    margin: 0 10px;
    display: inline-block;
  }

  /* header container */

.header-container{
  
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  /* height: 90vh; */
  width: 100%;
  background-color: #2D2E32;
  /* background-image: url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y:center */
  /* background-color: #25262A */
}
.header-left{
  margin: 0;
  width: fit-content;
  /* padding-right:20px; */
  /* height:90vh; */
  margin-left: 10vw;
  padding-top: 20vh;
  display: inline-block;
  margin-right: auto;
  /* border:1px solid yellow; */

}
.header-btn{
  margin: 0%;
  width:fit-content;
  /* height: 40%; */
  padding: 7px 15px;
  color: #2D2E32;
  background-color: #4dba87;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 5vh;
}
.header-salute{
    color: #4dba87;
}

.header-name{
  margin: 0%;
  font-weight: 400;
  font-size:  50px;
  color:#FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(100,end) forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 2px solid#4dba87;
  }
  100%{
    border-right: none;
    
  }
 
 
}

/* NOTE: I only tested this on Google Chrome.*/




/* .header-left h1{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(100,end) forwards;
} */
 



.social-icons{
  margin-top: 20px;
  animation: fadeIn 5s;
}
.social-icons a{
  margin-right:20px
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.download-resume-btn{
  border: 2px solid #4dba87;
  background-color: transparent;
  color:#4dba87;
  width:150px;
  height:50px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 25px;
  font-weight: 600;
  animation: fadeIn 5s;
  transition: all .3s ease-in-out;

}
.download-resume-btn:hover{
  transition: all .5s ease-in-out;
  background-color: #4dba87;
  color: #2D2E32;

}






.main-image{
  margin: 0;
  margin-right: 10%;
  display: inline-block;
  width: 40%;
  height: 90vh;

}
.main-image img{
  width:100%;
  height: 100%;
  opacity:.9;
  animation: fadeIn 5s;
  
}

.section:nth-child(2n+1){
  width: 100%;
  /* height: 500px; */
  /* background-color: #2D2E32; */
  background-color: #25262A;
  color: #4dba87;
  padding-left: 10vw;
  padding-top: 20px ;
  padding-bottom: 20px ;
}
.section:nth-child(2n){
  width: 100%;
  text-align: right;
  float: right;
  /* height: 500px; */
  /* background-color: #2D2E32; */
  background-color: #2D2E32;
  color: #4dba87;
  padding-right: 10vw;
  padding-top: 20px ;
  padding-bottom: 20px ;
}
.about{
  margin-top: 30px;
  width:70%;
  /* text-align: justify; */
  color: #FFFFFF;

}


/* media query, responsive design */


@media screen and (max-width:760px) {
  .navbar-container ul{
    display:none;
  }
  .navbar-container .hamberger img{
    display: inline-block;
    }
  .navbar-container .hamberger{
    float: right;
    margin-top: 15px;
    margin-right:20px;
    /* width: 400px; */
    /* height: 30px; */
    /* list-style: none; */
    
    
   
  }
  .hamberger-items-contaner{
    position: absolute;
    top:0;
    right: 0;
    width:50%;
    height:100vh;
    padding-top:20px ;
    background-color: #4dba87;
    animation: fadeIn .7s;
    /* transition: all .3s ease-in-out; */

  }
  .header-name{
    margin: 0%;
    font-weight: 400;
    font-size:  32px;
    color:#FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

  }
  .header-left{
    margin: 0 auto;
    width: fit-content;
    /* padding-right:10px; */
    height:90vh;
    /* margin-left: 10%; */
    padding-top: 7vh;
    display: inline-block;
    /* margin-right: auto; */
    /* border:1px solid yellow; */
  
  }

  .main-image{
    display: none;

  }
  .about{
    width:100%;
  }
  .skills-img-container{
    width: 100%;
  }

}

.skills-img-container{
  margin-top: 30px;
  width: 70%;
  height: auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.under-construction{
  color:red
}